# Pandas for Data Exploration, Analysis, and Visualization

### WHO alcohol consumption data
* Article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/   
* Original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
* Files: drinks.csv (with additional 'continent' column)

In [2]:
import pandas as pd

### Reading Files

Read in the CSV file from a URL using the read_csv command in Pandas. This command varies based on the file type (for instance, it would be read_txt for a text file), but let's work with CSVs for now.

In [4]:
drinks = pd.read_csv('https://raw.githubusercontent.com/misrab/SG_DAT1/master/data/drinks.csv')

Check the Python type of the imported file

In [5]:
type(drinks)

pandas.core.frame.DataFrame

We see that *drinks* is a DataFrame object. You can think of this object holding the contents in a format similar to a sql table or an excel spreadsheet.

### Examining Data

Lets look at the various ways we can examine the contents inside *drinks*.

In [6]:
drinks                  # print the first 30 and last 30 rows

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [7]:
drinks.head()           # print the first 5 rows

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [8]:
drinks.tail()           # print the last 5 rows

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [9]:
drinks.describe()       # describe any numeric columns

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [10]:
drinks.columns          # get series of column names

Index([u'country', u'beer_servings', u'spirit_servings', u'wine_servings',
       u'total_litres_of_pure_alcohol', u'continent'],
      dtype='object')

In [11]:
drinks.info             # concise summary

<bound method DataFrame.info of                   country  beer_servings  spirit_servings  wine_servings  \
0             Afghanistan              0                0              0
1                 Albania             89              132             54
2                 Algeria             25                0             14
3                 Andorra            245              138            312
4                  Angola            217               57             45
5       Antigua & Barbuda            102              128             45
6               Argentina            193               25            221
7                 Armenia             21              179             11
8               Australia            261               72            212
9                 Austria            279               75            191
10             Azerbaijan             21               46              5
11                Bahamas            122              176             51
12                Bahrain             42               63              7
13             Bangladesh              0                0              0
14               Barbados            143              173             36
15                Belarus            142              373             42
16                Belgium            295               84            212
17                 Belize            263              114              8
18                  Benin             34                4             13
19                 Bhutan             23                0              0
20                Bolivia            167               41              8
21     Bosnia-Herzegovina             76              173              8
22               Botswana            173               35             35
23                 Brazil            245              145             16
24                 Brunei             31                2              1
25               Bulgaria            231              252             94
26           Burkina Faso             25                7              7
27                Burundi             88                0              0
28          Cote d'Ivoire             37                1              7
29             Cabo Verde            144               56             16
..                    ...            ...              ...            ...
163              Suriname            128              178              7
164             Swaziland             90                2              2
165                Sweden            152               60            186
166           Switzerland            185              100            280
167                 Syria              5               35             16
168            Tajikistan              2               15              0
169              Thailand             99              258              1
170             Macedonia            106               27             86
171           Timor-Leste              1                1              4
172                  Togo             36                2             19
173                 Tonga             36               21              5
174     Trinidad & Tobago            197              156              7
175               Tunisia             51                3             20
176                Turkey             51               22              7
177          Turkmenistan             19               71             32
178                Tuvalu              6               41              9
179                Uganda             45                9              0
180               Ukraine            206              237             45
181  United Arab Emirates             16              135              5
182        United Kingdom            219              126            195
183              Tanzania             36                6              1
184                   USA            249              158             84
185               Uruguay            115               35            220
186            Uzbekistan             25              101              8
187               Vanuatu             21               18             11
188             Venezuela            333              100              3
189               Vietnam            111                2              1
190                 Yemen              6                0              0
191                Zambia             32               19              4
192              Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
5                             4.9       NaN
6                             8.3        SA
7                             3.8        EU
8                            10.4        OC
9                             9.7        EU
10                            1.3        EU
11                            6.3       NaN
12                            2.0        AS
13                            0.0        AS
14                            6.3       NaN
15                           14.4        EU
16                           10.5        EU
17                            6.8       NaN
18                            1.1        AF
19                            0.4        AS
20                            3.8        SA
21                            4.6        EU
22                            5.4        AF
23                            7.2        SA
24                            0.6        AS
25                           10.3        EU
26                            4.3        AF
27                            6.3        AF
28                            4.0        AF
29                            4.0        AF
..                            ...       ...
163                           5.6        SA
164                           4.7        AF
165                           7.2        EU
166                          10.2        EU
167                           1.0        AS
168                           0.3        AS
169                           6.4        AS
170                           3.9        EU
171                           0.1        AS
172                           1.3        AF
173                           1.1        OC
174                           6.4       NaN
175                           1.3        AF
176                           1.4        AS
177                           2.2        AS
178                           1.0        OC
179                           8.3        AF
180                           8.9        EU
181                           2.8        AS
182                          10.4        EU
183                           5.7        AF
184                           8.7       NaN
185                           6.6        SA
186                           2.4        AS
187                           0.9        OC
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]>

In [12]:
drinks.shape            # tuple of (#rows, #cols)

(193, 6)

### Missing Values

*Find and count missing values in data*

In [13]:
drinks.isnull()         # DataFrame of booleans. Keep in mind that we're checking for cells that are EMPTY.

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,True
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,True
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,True
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,True
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
...,...,...,...,...,...,...
163,False,False,False,False,False,False
164,False,False,False,False,False,False
165,False,False,False,False,False,False
166,False,False,False,False,False,False
167,False,False,False,False,False,False
168,False,False,False,False,False,False
169,False,False,False,False,False,False
170,False,False,False,False,False,False
171,False,False,False,False,False,False
172,False,False,False,False,False,False
173,False,False,False,False,False,False
174,False,False,False,False,False,True
175,False,False,False,False,False,False
176,False,False,False,False,False,False
177,False,False,False,False,False,False
178,False,False,False,False,False,False
179,False,False,False,False,False,False
180,False,False,False,False,False,False
181,False,False,False,False,False,False
182,False,False,False,False,False,False
183,False,False,False,False,False,False
184,False,False,False,False,False,True
185,False,False,False,False,False,False
186,False,False,False,False,False,False
187,False,False,False,False,False,False
188,False,False,False,False,False,False
189,False,False,False,False,False,False
190,False,False,False,False,False,False
191,False,False,False,False,False,False
192,False,False,False,False,False,False

In [14]:
drinks.isnull().sum()   # convert booleans to integers and add

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

Something seems off here. Why are all the missing values in the Continent column? It would be wise to go back and look at the data some more.

If we're convinced that the data is good to go, below are some methods we can use for addressing the missing values.

*Handling missing values*

In [15]:
drinks.dropna()         # drop a row if ANY values are missing

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
30,Cambodia,57,65,1,2.2,AS
31,Cameroon,147,1,4,5.8,AF
33,Central African Republic,17,2,1,1.8,AF
34,Chad,15,1,1,0.4,AF
...,...,...,...,...,...,...
161,Sri Lanka,16,104,0,2.2,AS
162,Sudan,8,13,0,1.7,AF
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [16]:
drinks.fillna(value='NA')   # fill in missing values

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NA
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NA
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NA
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NA
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NA
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

Now that we know what the problem was, let's reimport the data with a fix implemented.

In [17]:
drinks = pd.read_csv('https://raw.githubusercontent.com/misrab/SG_DAT1/master/data/drinks.csv', na_filter=False)

In [18]:
drinks.isnull().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### Working with Data

*Selecting a column (also called a 'Series')*

In [19]:
drinks['continent']
drinks.continent            # equivalent
type(drinks.continent)      # series is the Pandas equivalent of a Python list

pandas.core.series.Series

*Summarizing a non-numeric column*

In [20]:
drinks.continent.describe()

count     193
unique      6
top        AF
freq       53
Name: continent, dtype: object

In [24]:
drinks.continent.value_counts()

AF    53
EU    45
AS    44
NA    23
OC    16
SA    12
Name: continent, dtype: int64

*Selecting multiple columns*

In [31]:
drinks[['country', 'beer_servings']]

                  country  beer_servings
0             Afghanistan              0
1                 Albania             89
2                 Algeria             25
3                 Andorra            245
4                  Angola            217
5       Antigua & Barbuda            102
6               Argentina            193
7                 Armenia             21
8               Australia            261
9                 Austria            279
10             Azerbaijan             21
11                Bahamas            122
12                Bahrain             42
13             Bangladesh              0
14               Barbados            143
15                Belarus            142
16                Belgium            295
17                 Belize            263
18                  Benin             34
19                 Bhutan             23
20                Bolivia            167
21     Bosnia-Herzegovina             76
22               Botswana            173
23                 Brazil            245
24                 Brunei             31
25               Bulgaria            231
26           Burkina Faso             25
27                Burundi             88
28          Cote d'Ivoire             37
29             Cabo Verde            144
..                    ...            ...
163              Suriname            128
164             Swaziland             90
165                Sweden            152
166           Switzerland            185
167                 Syria              5
168            Tajikistan              2
169              Thailand             99
170             Macedonia            106
171           Timor-Leste              1
172                  Togo             36
173                 Tonga             36
174     Trinidad & Tobago            197
175               Tunisia             51
176                Turkey             51
177          Turkmenistan             19
178                Tuvalu              6
179                Uganda             45
180               Ukraine            206
181  United Arab Emirates             16
182        United Kingdom            219
183              Tanzania             36
184                   USA            249
185               Uruguay            115
186            Uzbekistan             25
187               Vanuatu             21
188             Venezuela            333
189               Vietnam            111
190                 Yemen              6
191                Zambia             32
192              Zimbabwe             64

[193 rows x 2 columns]

Note the double square bracket. The outer pair is used like in a python dictionary to select the inner pair as a list.

So in all, the double use of square brackets is telling the dataframe to select a list.

Alternatively, you could just specify the list to begin with:

In [25]:
my_cols = ['country', 'beer_servings']
drinks[my_cols]

                  country  beer_servings
0             Afghanistan              0
1                 Albania             89
2                 Algeria             25
3                 Andorra            245
4                  Angola            217
5       Antigua & Barbuda            102
6               Argentina            193
7                 Armenia             21
8               Australia            261
9                 Austria            279
10             Azerbaijan             21
11                Bahamas            122
12                Bahrain             42
13             Bangladesh              0
14               Barbados            143
15                Belarus            142
16                Belgium            295
17                 Belize            263
18                  Benin             34
19                 Bhutan             23
20                Bolivia            167
21     Bosnia-Herzegovina             76
22               Botswana            173
23                 Brazil            245
24                 Brunei             31
25               Bulgaria            231
26           Burkina Faso             25
27                Burundi             88
28          Cote d'Ivoire             37
29             Cabo Verde            144
..                    ...            ...
163              Suriname            128
164             Swaziland             90
165                Sweden            152
166           Switzerland            185
167                 Syria              5
168            Tajikistan              2
169              Thailand             99
170             Macedonia            106
171           Timor-Leste              1
172                  Togo             36
173                 Tonga             36
174     Trinidad & Tobago            197
175               Tunisia             51
176                Turkey             51
177          Turkmenistan             19
178                Tuvalu              6
179                Uganda             45
180               Ukraine            206
181  United Arab Emirates             16
182        United Kingdom            219
183              Tanzania             36
184                   USA            249
185               Uruguay            115
186            Uzbekistan             25
187               Vanuatu             21
188             Venezuela            333
189               Vietnam            111
190                 Yemen              6
191                Zambia             32
192              Zimbabwe             64

[193 rows x 2 columns]

*Add a new column as a function of existing columns*

In [33]:
drinks['total_servings'] = drinks.beer_servings + drinks.spirit_servings + drinks.wine_servings
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
0,Afghanistan,0,0,0,0.0,AS,0
1,Albania,89,132,54,4.9,EU,275
2,Algeria,25,0,14,0.7,AF,39
3,Andorra,245,138,312,12.4,EU,695
4,Angola,217,57,45,5.9,AF,319

### FIltering & Summarizing

*Logical filtering and sorting*

In [34]:
drinks[drinks.continent=='EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
1,Albania,89,132,54,4.9,EU,275
3,Andorra,245,138,312,12.4,EU,695
7,Armenia,21,179,11,3.8,EU,211
9,Austria,279,75,191,9.7,EU,545
10,Azerbaijan,21,46,5,1.3,EU,72
15,Belarus,142,373,42,14.4,EU,557
16,Belgium,295,84,212,10.5,EU,591
21,Bosnia-Herzegovina,76,173,8,4.6,EU,257
25,Bulgaria,231,252,94,10.3,EU,577
42,Croatia,230,87,254,10.2,EU,571
44,Cyprus,192,154,113,8.2,EU,459
45,Czech Republic,361,170,134,11.8,EU,665
48,Denmark,224,81,278,10.4,EU,583
57,Estonia,224,194,59,9.5,EU,477
60,Finland,263,133,97,10.0,EU,493
61,France,127,151,370,11.8,EU,648
64,Georgia,52,100,149,5.4,EU,301
65,Germany,346,117,175,11.3,EU,638
67,Greece,133,112,218,8.3,EU,463
75,Hungary,234,215,185,11.3,EU,634
76,Iceland,233,61,78,6.6,EU,372
81,Ireland,313,118,165,11.4,EU,596
83,Italy,85,42,237,6.5,EU,364
93,Latvia,281,216,62,10.5,EU,559
98,Lithuania,343,244,56,12.9,EU,643
99,Luxembourg,236,133,271,11.4,EU,640
105,Malta,149,100,120,6.6,EU,369
111,Monaco,0,0,0,0.0,EU,0
113,Montenegro,31,114,128,4.9,EU,273
120,Netherlands,251,88,190,9.4,EU,529
126,Norway,169,71,129,6.7,EU,369
135,Poland,343,215,56,10.9,EU,614
136,Portugal,194,67,339,11.0,EU,600
139,Moldova,109,226,18,6.3,EU,353
140,Romania,297,122,167,10.4,EU,586
147,San Marino,0,0,0,0.0,EU,0
151,Serbia,283,131,127,9.6,EU,541
155,Slovakia,196,293,116,11.4,EU,605
156,Slovenia,270,51,276,10.6,EU,597
160,Spain,284,157,112,10.0,EU,553
165,Sweden,152,60,186,7.2,EU,398
166,Switzerland,185,100,280,10.2,EU,565
170,Macedonia,106,27,86,3.9,EU,219
180,Ukraine,206,237,45,8.9,EU,488
182,United Kingdom,219,126,195,10.4,EU,540

How it works: drinks.continent=='EU' by itself would return a bunch of Trues and Falses

In [37]:
drinks[drinks.continent=='EU'] [['continent','country']]

    continent             country
1          EU             Albania
3          EU             Andorra
7          EU             Armenia
9          EU             Austria
10         EU          Azerbaijan
15         EU             Belarus
16         EU             Belgium
21         EU  Bosnia-Herzegovina
25         EU            Bulgaria
42         EU             Croatia
44         EU              Cyprus
45         EU      Czech Republic
48         EU             Denmark
57         EU             Estonia
60         EU             Finland
61         EU              France
64         EU             Georgia
65         EU             Germany
67         EU              Greece
75         EU             Hungary
76         EU             Iceland
81         EU             Ireland
83         EU               Italy
93         EU              Latvia
98         EU           Lithuania
99         EU          Luxembourg
105        EU               Malta
111        EU              Monaco
113        EU          Montenegro
120        EU         Netherlands
126        EU              Norway
135        EU              Poland
136        EU            Portugal
139        EU             Moldova
140        EU             Romania
147        EU          San Marino
151        EU              Serbia
155        EU            Slovakia
156        EU            Slovenia
160        EU               Spain
165        EU              Sweden
166        EU         Switzerland
170        EU           Macedonia
180        EU             Ukraine
182        EU      United Kingdom

In [35]:
drinks.continent=='EU'

0      False
1       True
2      False
3       True
4      False
5      False
6      False
7       True
8      False
9       True
10      True
11     False
12     False
13     False
14     False
15      True
16      True
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25      True
26     False
27     False
28     False
29     False
       ...
163    False
164    False
165     True
166     True
167    False
168    False
169    False
170     True
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180     True
181    False
182     True
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
Name: continent, dtype: bool

See? When you wrap drinks around it with square brackets you're telling the drinks dataframe to select only those that are True, and not the False ones.

If you wanted the observations not in the EU, you would use:

In [36]:
drinks[drinks.continent!='EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
0,Afghanistan,0,0,0,0.0,AS,0
2,Algeria,25,0,14,0.7,AF,39
4,Angola,217,57,45,5.9,AF,319
5,Antigua & Barbuda,102,128,45,4.9,NA,275
6,Argentina,193,25,221,8.3,SA,439
8,Australia,261,72,212,10.4,OC,545
11,Bahamas,122,176,51,6.3,NA,349
12,Bahrain,42,63,7,2.0,AS,112
13,Bangladesh,0,0,0,0.0,AS,0
14,Barbados,143,173,36,6.3,NA,352
17,Belize,263,114,8,6.8,NA,385
18,Benin,34,4,13,1.1,AF,51
19,Bhutan,23,0,0,0.4,AS,23
20,Bolivia,167,41,8,3.8,SA,216
22,Botswana,173,35,35,5.4,AF,243
23,Brazil,245,145,16,7.2,SA,406
24,Brunei,31,2,1,0.6,AS,34
26,Burkina Faso,25,7,7,4.3,AF,39
27,Burundi,88,0,0,6.3,AF,88
28,Cote d'Ivoire,37,1,7,4.0,AF,45
29,Cabo Verde,144,56,16,4.0,AF,216
30,Cambodia,57,65,1,2.2,AS,123
31,Cameroon,147,1,4,5.8,AF,152
32,Canada,240,122,100,8.2,NA,462
33,Central African Republic,17,2,1,1.8,AF,20
34,Chad,15,1,1,0.4,AF,17
35,Chile,130,124,172,7.6,SA,426
36,China,79,192,8,5.0,AS,279
37,Colombia,159,76,3,4.2,SA,238
38,Comoros,1,3,1,0.1,AF,5
...,...,...,...,...,...,...,...
157,Solomon Islands,56,11,1,1.2,OC,68
158,Somalia,0,0,0,0.0,AF,0
159,South Africa,225,76,81,8.2,AF,382
161,Sri Lanka,16,104,0,2.2,AS,120
162,Sudan,8,13,0,1.7,AF,21
163,Suriname,128,178,7,5.6,SA,313
164,Swaziland,90,2,2,4.7,AF,94
167,Syria,5,35,16,1.0,AS,56
168,Tajikistan,2,15,0,0.3,AS,17
169,Thailand,99,258,1,6.4,AS,358
171,Timor-Leste,1,1,4,0.1,AS,6
172,Togo,36,2,19,1.3,AF,57
173,Tonga,36,21,5,1.1,OC,62
174,Trinidad & Tobago,197,156,7,6.4,NA,360
175,Tunisia,51,3,20,1.3,AF,74
176,Turkey,51,22,7,1.4,AS,80
177,Turkmenistan,19,71,32,2.2,AS,122
178,Tuvalu,6,41,9,1.0,OC,56
179,Uganda,45,9,0,8.3,AF,54
181,United Arab Emirates,16,135,5,2.8,AS,156
183,Tanzania,36,6,1,5.7,AF,43
184,USA,249,158,84,8.7,NA,491
185,Uruguay,115,35,220,6.6,SA,370
186,Uzbekistan,25,101,8,2.4,AS,134
187,Vanuatu,21,18,11,0.9,OC,50
188,Venezuela,333,100,3,7.7,SA,436
189,Vietnam,111,2,1,2.0,AS,114
190,Yemen,6,0,0,0.1,AS,6
191,Zambia,32,19,4,2.5,AF,55
192,Zimbabwe,64,18,4,4.7,AF,86

*More advanced filtering*

In [39]:
# North American countries with total servings
drinks[['country', 'total_servings']][drinks.continent=='NA']

                          country  total_servings
5               Antigua & Barbuda             275
11                        Bahamas             349
14                       Barbados             352
17                         Belize             385
32                         Canada             462
41                     Costa Rica             247
43                           Cuba             235
50                       Dominica             364
51             Dominican Republic             349
54                    El Salvador             123
68                        Grenada             665
69                      Guatemala             124
73                          Haiti             328
74                       Honduras             169
84                        Jamaica             188
109                        Mexico             311
122                     Nicaragua             197
130                        Panama             407
143             St. Kitts & Nevis             431
144                     St. Lucia             557
145  St. Vincent & the Grenadines             352
174             Trinidad & Tobago             360
184                           USA             491

In [45]:
# same thing, sorted by total_servings
drinks[['country', 'total_servings']][drinks.continent=='NA'].sort_values(by='total_servings')

                          country  total_servings
54                    El Salvador             123
69                      Guatemala             124
74                       Honduras             169
84                        Jamaica             188
122                     Nicaragua             197
43                           Cuba             235
41                     Costa Rica             247
5               Antigua & Barbuda             275
109                        Mexico             311
73                          Haiti             328
51             Dominican Republic             349
11                        Bahamas             349
14                       Barbados             352
145  St. Vincent & the Grenadines             352
174             Trinidad & Tobago             360
50                       Dominica             364
17                         Belize             385
130                        Panama             407
143             St. Kitts & Nevis             431
32                         Canada             462
184                           USA             491
144                     St. Lucia             557
68                        Grenada             665

In [48]:
# contries with wine servings over 300 and total liters over 12
drinks[drinks.wine_servings > 300][drinks.total_litres_of_pure_alcohol > 12]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
3,Andorra,245,138,312,12.4,EU,695

In [49]:
# contries with more wine servings than beer servings
drinks[drinks.wine_servings > drinks.beer_servings]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
3,Andorra,245,138,312,12.4,EU,695
6,Argentina,193,25,221,8.3,SA,439
35,Chile,130,124,172,7.6,SA,426
40,Cook Islands,0,254,74,5.9,OC,328
42,Croatia,230,87,254,10.2,EU,571
48,Denmark,224,81,278,10.4,EU,583
55,Equatorial Guinea,92,0,233,5.8,AF,325
61,France,127,151,370,11.8,EU,648
64,Georgia,52,100,149,5.4,EU,301
67,Greece,133,112,218,8.3,EU,463
83,Italy,85,42,237,6.5,EU,364
92,Laos,62,0,123,6.2,AS,185
94,Lebanon,20,55,31,1.9,AS,106
99,Luxembourg,236,133,271,11.4,EU,640
113,Montenegro,31,114,128,4.9,EU,273
136,Portugal,194,67,339,11.0,EU,600
137,Qatar,1,42,7,0.9,AS,50
148,Sao Tome & Principe,56,38,140,4.2,AF,234
156,Slovenia,270,51,276,10.6,EU,597
165,Sweden,152,60,186,7.2,EU,398
166,Switzerland,185,100,280,10.2,EU,565
167,Syria,5,35,16,1.0,AS,56
171,Timor-Leste,1,1,4,0.1,AS,6
177,Turkmenistan,19,71,32,2.2,AS,122
178,Tuvalu,6,41,9,1.0,OC,56
185,Uruguay,115,35,220,6.6,SA,370

In [51]:
# last 5 elements of the dataframe sorted by beer servings
drinks.sort_values(by='beer_servings').tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
135,Poland,343,215,56,10.9,EU,614
65,Germany,346,117,175,11.3,EU,638
62,Gabon,347,98,59,8.9,AF,504
45,Czech Republic,361,170,134,11.8,EU,665
117,Namibia,376,3,1,6.8,AF,380

In [52]:
# average North American beer consumption
drinks.beer_servings[drinks.continent=='NA'].mean()

145.43478260869566

In [53]:
# average European beer consumption
drinks.beer_servings[drinks.continent=='EU'].mean()

193.77777777777777

Note the logic:

drinks **< >** Dataframe

drinks.beer_servings **< >** one column (Series)

drinks.beer_servings[drinks.continent=='NA'] **< >** logical filtering

drinks.beer_servings[drinks.continent=='NA'].mean() **< >** mean of that filtered column

### Working with Categories (Split - Apply - Combine)

*For each continent, calculate mean beer servings*

In [54]:
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
NA    145.434783
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

*For each continent, count number of occurrences*

In [55]:
drinks.groupby('continent').continent.count()

continent
AF    53
AS    44
EU    45
NA    23
OC    16
SA    12
Name: continent, dtype: int64

In [56]:
drinks.continent.value_counts()

AF    53
EU    45
AS    44
NA    23
OC    16
SA    12
Name: continent, dtype: int64

*For each continent, calculate the min, max, and range for total servings*

In [57]:
# for each continent, calculate the min, max, and range for total servings
drinks.groupby('continent').total_servings.min()

continent
AF      0
AS      0
EU      0
NA    123
OC      0
SA    216
Name: total_servings, dtype: int64

In [58]:
drinks.groupby('continent').total_servings.max()

continent
AF    504
AS    646
EU    695
NA    665
OC    545
SA    439
Name: total_servings, dtype: int64

We can also apply function across categories/groups, using .apply

*Calculate mean total servings for each continent*

In [60]:
drinks.groupby('continent').total_servings.mean()

continent
AF     94.075472
AS    106.954545
EU    468.555556
NA    335.695652
OC    183.750000
SA    352.250000
Name: total_servings, dtype: float64

In [59]:
drinks.groupby('continent').total_servings.apply(lambda x: x.mean())    # mean

continent
AF     94.075472
AS    106.954545
EU    468.555556
NA    335.695652
OC    183.750000
SA    352.250000
Name: total_servings, dtype: float64

Note that 'x' here represents an entire series

*Calculate standard deviation of total servings for each continent*

In [61]:
drinks.groupby('continent').total_servings.apply(lambda x: x.std())     # standard deviation

continent
AF    114.040622
AS    132.630446
EU    176.921857
NA    134.437696
OC    175.450848
SA     81.923606
Name: total_servings, dtype: float64

*What does this do?*

In [62]:
drinks.groupby('continent').total_servings.apply(lambda x: x.max() - x.min())

continent
AF    504
AS    646
EU    695
NA    542
OC    545
SA    223
Name: total_servings, dtype: int64

## On to the Pandas Lab!

In [ ]:
Extra material:
'''
Plotting
'''

# bar plot of number of countries in each continent
drinks.continent.value_counts().plot(kind='bar', title='Countries per Continent')
plt.xlabel('Continent')
plt.ylabel('Count')
plt.show()

# bar plot of average number of beer servings by continent
drinks.groupby('continent').beer_servings.mean().plot(kind='bar')

# histogram of beer servings
drinks.beer_servings.hist(bins=20)

# grouped histogram of beer servings
drinks.beer_servings.hist(by=drinks.continent)

# stop and think, does this make sense

# same charts with the same scale for x and y axis
drinks.beer_servings.hist(by=drinks.continent, sharex=True, sharey=True)



# density plot of beer servings
drinks.beer_servings.plot(kind='density')

# same chart, with new x limit
drinks.beer_servings.plot(kind='density', xlim=(0,500))

# boxplot of beer servings by continent
drinks.boxplot(column='beer_servings', by='continent')

# scatterplot of beer servings versus wine servings
drinks.plot(x='beer_servings', y='wine_servings', kind='scatter', alpha=0.3)