### AWS Boto Library - Intro

#### [Boto Docs](https://boto.readthedocs.org/en/latest/)

In [1]:
!pip install boto

Requirement already satisfied (use --upgrade to upgrade): boto in /Users/sampathweb/miniconda/envs/conda27/lib/python2.7/site-packages

In [14]:
import pandas as pd
from boto.s3.connection import S3Connection
from boto.s3.key import Key

In [5]:
credentials = pd.read_csv('~/.ssh/credentials.csv')

In [6]:
s3conn = S3Connection(credentials['AWSAccessKeyId'][0], credentials['AWSSecretKey'][0])

In [9]:
!ls ../data

Default.csv        ZYX_prices.csv     fifa_goals.csv     sms.tsv            songs.csv          u.data             ufo.csv            us_pres_elections
UNdata.csv         drinks.csv         iris.csv           so_many_tweets.csv titanic.csv        u.item             us_population.csv

In [12]:
s3bucket = s3conn.get_bucket('yourbucket-name') # substitute your bucket name here

In [16]:
k = Key(s3bucket)
k.key = 'sf-dat-15/titanic.csv'
k.set_contents_from_filename('../data/titanic.csv')
k.set_canned_acl('public-read')

### Reading from S3 into Pandas

* [Stack Overflow Post on usign Pandas with S3](http://stackoverflow.com/questions/30818341/how-to-read-a-csv-file-from-an-s3-bucket-using-pandas-in-python)

* [S3 Regions](http://docs.aws.amazon.com/general/latest/gr/rande.html)

In [17]:
data = pd.read_csv('https://s3.amazonaws.com/sampathweb-data/sf-dat-15/titanic.csv')

In [18]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S